.vscode
\public
*\highres
movie-seat-booking/.firebaserc
movie-seat-booking/firebase.json
form-validator/.firebaserc
form-validator/firebase.json
custom-video-player/firebase.json
custom-video-player/.firebaserc
exchange-rate-calculator/.firebaserc
exchange-rate-calculator/firebase.json
dom-array-methods/.firebaserc
.gitignore
dom-array-methods/firebase.json
landing-page/firebase.json
landing-page/.firebaserc
hangman/.firebaserc
hangman/firebase.json
meal-finder/.firebaserc
meal-finder/firebase.json
expense-tracker/.firebaserc
expense-tracker/firebase.json
music-player/music/*
music-player/.firebaserc
music-player/firebase.json
infinit-scroll-blog/.firebaserc
infinit-scroll-blog/firebase.json
typing-game/.firebaserc
typing-game/firebase.json
speech-text-reader/.firebaserc
speech-text-reader/firebase.json
memory-cards/.firebaserc
memory-cards/firebase.json
