@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300,500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #778C8C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* setup h1 so buttons can be positioned absolute */
h1 {
  position: relative;
}

h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
}

.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}

/* only display the x */
.btn-ghost {
  border: 0;
  background-color: transparent;
}

/* set location for clear cards btn */
.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* styling the cards */
.cards {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}

/* locate all individual cards over the same position */
.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  /* added perspective to enhance the 3d effect of the card rotation */
  perspective: 1000px;
  /*  add card animation properties */
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* make active card visible */
.card.active {
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  /* add card animation properties */
  transform: translateX(0) rotateY(0deg);
}

/* left class added by JS */
.card.left {
  /*  add card lef animation properties */
  transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* layout front and back shared properties */
.inner-card-front,
.inner-card-back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Do an horizontal flip when show-answer is added by JS */
.card:hover .inner-card {
  transform: rotateY(180deg);
}

/* Style the front face of card */
.inner-card-front {
  background-image: linear-gradient(to right bottom, #273940d8, #153259);
  color: white;
}

/* Style the back face of card */
.inner-card-back {
  background-image: linear-gradient(to right bottom, #4B5947, #33402A);
  color: white;
  transform: rotateY(180deg);
}

/* add after pseudo-element for flip text */
.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  font-family: 'Font Awesome 5 Free', Lato, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}

.navigation {
  display: flex;
  margin: 20px 0;
}

.navigation .nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.navigation p {
  margin: 0 25px;
}

/* setup add card container */
.add-container {
  opacity: 0;
  z-index: -1;
  background-color: #B2DFDB;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: 0.3s ease;
}

/* add show class using JS */
.add-container.show {
  opacity: 1;
  z-index: 2;
}

/* add style for JS h3 being added to DOM */
.add-container h3 {
  margin: 10px 0;
}

.form-group label {
  display: block;
  margin: 20px 0 10px;
}

.form-group textarea {
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px;
  min-width: 500px;
  max-width: 100%;
}
