@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --screen-background: #000;
    --controls-background: #333;
    --control-timestamp: #fff;
    --fa-play: #28a745;
    --fa-stop: #dc3545;
    --fa-pause: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
}

.screen {
    cursor: pointer;
    width: 50%;
    background-color: var(--screen-background) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    background-color: var(--controls-background);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: var(--fa-play);
}

.controls .fa-stop {
    color: var(--fa-stop);
}

.controls .fa-pause {
    color: var(--fa-pause);
}

.controls .timestamp {
    color: var(--control-timestamp);
    font-weight: bold;
    margin-left: 10px;    
}

.btn:focus {
    outline: 0;
}

@media (max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
}
