* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-size: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

aside {
    padding: 10px 20px;
    width: 250px;
    border-right: 1px solid #111;
}

button {
    background-color: #fff;
    border: solid 1px #111;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}

button .fa-user-plus {
    color: #ff7f50;
}

button .fa-coins {
    color: #aa8f56;
}

button .fa-filter {
    color: #e6ab2e;
}

button .fa-sort-amount-up {
    background: linear-gradient(rgb(04, 72, 12, 0.979), rgb(150, 240, 122));
    background: -webkit-linear-gradient(rgb(04, 72, 12, 0.979), rgb(150, 240, 122));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button .fa-calculator {
    color: #e6532e;
}

button i {
    transition: all .2s;
}

button i:hover {
    transform: translateY(-2px) scale(1.2);
}

main {
    flex: 1;
    padding: 10px 20px;
}
