@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --background-color: #34495e;
    --svg-stroke-color: #fff;
    --text-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    background-color:var(--background-color);
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

.figure-container {
    fill: transparent;
    stroke: var(--svg-stroke-color);
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}
