
@import url('https://fonts.googleapis.com/css2?family=Inter:&display=swap');

:root {
    --primary-color: #176CC6;

}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

p {
    text-align: center;
}

.btn {
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 5px 12px;
    transition: all .5;
}

.btn i:hover {
    transform: translateY(-2px);
    text-shadow: 0 6.36px 8.896px #000,0 -2px 1px #fff;
}

.money-img {
    width: 150px;
}
